<!--Main Navigation-->
<header>

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <strong>TRANG CHỦ</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">HÀNG MỚI
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GRAPHIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">COLLECTION </a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </nav>

  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/67621321_536597526878441_5108357556955250688_o.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-white-light">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">Bộ Sưu Tập
                <a class="indigo-text font-weight-bold">Mới</a>
              </h1>
              <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">Free
                delivery & special prices</h5>
              <a class="btn btn-outline-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s">Shop</a>
              <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s">Lookbook</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->


<!--Main Layout-->
<main>

  <div class="container">

    <!--Section: Products v.3-->
    <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">

      <!--Section heading-->
      <h1 class="font-weight-bold text-center h1 my-5">Bestsellers</h1>
      <!--Section description-->
      <p class="text-center grey-text mb-5 mx-auto w-responsive">Chúng tôi không bắt đầu từ một cửa hàng to lớn ở mặt phố, nội thất hầm hố. Mà từ một cửa tiệm nho nhỏ chỉ vỏn vẹn vài sản phẩm được trưng bày trên kệ. Ở nơi chật hẹp ấy, những người trong đội ngũ vẫn luôn âm thầm làm việc cặm cụi mỗi ngày với mục tiêu làm ra được sản phẩm với độ hoàn hảo cao nhất.</p>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="assets/images/76660671_606434183228108_8247641233405509632_o.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Top</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Sweatshirt</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">FW00301 - White - S / M / L / 95% cotton - 5% spandex /
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">
                  <span class="discount">400.00VND</span>
                </span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="fas fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="assets/images/75291704_610844766120383_8708560270160560128_o (1).jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Top</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Sweatshirt</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">FW00301 - Yellow - S / M / L / 95% cotton - 5% spandex /
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">
                  <span class="discount">450.000VND</span>
                </span>
                <span class="float-right">
                  <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                    <i class="fas fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="assets/images/75135953_595245724346954_5811600430962049024_o.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Top</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Hoodie</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">FW00301 - Pink - S / M / L / 95% cotton - 5% spandex /
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">
                  <span class="discount">600.000VND</span>
                </span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="fas fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay z-depth-1">
              <img src="assets/images/72241305_584782312059962_6055832745521709056_o.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Outwear</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Tee</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text"> Combo TEE ft SHORTS chỉ 500.000 VNĐ
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="float-left">
                  <span class="discount">500.000VND</span>
                </span>
                <span class="float-right">
                  <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                    <i class="fas fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Fourth column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Products v.3-->

    <hr class="mb-5 mt-4">

<!--Section: Products v.5-->
<section class="text-center pb-3 my-5">
    <!--Section heading-->
    <h2 class="h1 py-5">Our bestsellers</h2>
    <!--Section description-->
    <p class="grey-text pb-5">/OFFICIAL RELEASED/
        20% off in first 3 days
        Fernweh® - Death Horseman
        FW00301 - Yellow - S / M / L /
        95% cotton - 5% spandex /
        Apocalypse Cosmos // Limited item
        Only 50 packs</p>
  
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <!--First slide-->
      <mdb-slide>
        <div class="col-md-4">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/71835462_584424875429039_39754522234454016_o.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Sneakers</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Only 710.000 for pack 2 items
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">710.000VND</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/69469587_558240211380839_5854339534560428032_o.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Jeans</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Slim jeans</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Officially released 13.11.2019 Fernweh® - Death Horseman- Back
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">800.000VND</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/73121345_605339893337537_3950090733620297728_o.jpg" alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shorts</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Denim shorts</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>FW00301 - Yellow - S / M / L / 95% cotton - 5% spandex /
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">510.000VND</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <div class="col-md-4">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/75446647_595246114346915_1996804173642858496_o.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Accessories</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Summer hat</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">69$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/72061960_578934235978103_4375812715248091136_o.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Black heels</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">69$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/72484907_584782272059966_3307963745291993088_o.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Outerwear</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Black jacket</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">69$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <div class="col-md-4">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/73375435_589555141582679_2260415513786056704_o.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Accessories</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Leather bag</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">69$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/73230218_605006873370839_5911523476463681536_o.jpg" alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Accessories</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Leather belt</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">69$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="assets/images/74675013_596048760933317_2515676415303614464_o.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Sneakers</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                <span class="float-left">69$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  
  </section>
  <!--Section: Products v.5-->

  </div>

  

  <div class="container">

    <!--Projects section v.4-->
    <section class="text-center pb-5 wow fadeIn">

      <!--Section heading-->
      <h2 class="font-weight-bold text-center h1 my-5">Fashion news</h2>
      <!--Section description-->
      <p class="text-center grey-text mb-5 mx-auto w-responsive">Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
          <div class="card card-image" style="background-image: url('assets/images/67621321_536597526878441_5108357556955250688_o.jpg');">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="" class="purple-text">
                  <h5>
                    <i class="fas fa-plane pr-2"></i>Fashion week</h5>
                </a>
                <h3 class="mb-4 mt-4">
                  <strong>Project title</strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quod minima assumenda qui
                  mollitia
                  architecto soluta at ipsa itaque nam, aliquam minus odit expedita voluptatibus fugiat amet, nostrum
                  error
                  dolorum!.</p>
                <a class="btn btn-secondary btn-sm">
                  <i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="card card-image" style="background-image: url('assets/images/67621321_536597526878441_5108357556955250688_o.jpg');">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="" class="pink-text">
                  <h5>
                    <i class="fas fa-camera pr-2"></i>Street style</h5>
                </a>
                <h3 class="mb-4 mt-4">
                  <strong>Project title</strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio
                  vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.</p>
                <a class="btn btn-pink btn-sm">
                  <i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="card card-image" style="background-image: url('assets/images/72241305_584782312059962_6055832745521709056_o.jpg');">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="" class="green-text">
                  <h5>
                    <i class="fas fa-eye pr-2"></i>Summer trends</h5>
                </a>
                <h3 class="mb-4 mt-4">
                  <strong>Project title</strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio
                  vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.</p>
                <a class="btn btn-success btn-sm">
                  <i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Projects section v.4-->

  </div>

</main>
<!--Main Layout-->

<!--Footer-->
<footer class="page-footer pt-4 mt-4 text-center text-md-left mdb-color lighten-2">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-3 mr-auto">
        <h5 class="text-uppercase mb-3">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>
      <!--/.First column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Second column-->
      <div class="col-md-2 ml-auto">
        <h5 class="text-uppercase mb-3">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Third column-->
      <div class="col-md-2 ml-auto">
        <h5 class="text-uppercase mb-3">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Fourth column-->
      <div class="col-md-3 ml-auto">
        <h5 class="text-uppercase mb-3">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Social buttons-->
  <div class="social-section text-center">
    <ul class="list-unstyled list-inline">

      <li class="list-inline-item">
        <a class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>

    </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      &copy; 2019    
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
<script>
  new WOW().init();
</script>